body {
  background-color: #fff;
  color: #777;
  font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  padding: 0 0 0 0;
}
p {
  line-height: 20px;
  margin-bottom: 20px;
}
h1 {
  font-family: "Crete Round", serif;
  font-weight: bold;
  color: #444;
  font-size: 6vw;
  margin-bottom: 20px;
}
h2 {
  font-weight: 300;
  color: #444;
  font-size: 2vw;

  text-align: center;
  margin-bottom: 20px;
}
h3 {
  font-size: 1vw;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
}
h4 {
  font-size: 2vw;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
h5 {
  font-size: 1vw;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
}
a {
  text-decoration: underline;
  color: #444;
}
a:hover {
  color: #02b8dd;
}
strong {
  font-weight: bold;
}
small {
  font-size: 13px;
  color: #777;
  font-style: italic;
}
.clear {
  clear: both;
}

/* navbar */
nav {
  padding: 8px;
}

.logo {
  float: left;
  padding: 8px;

  margin-left: 16px;
  margin-top: 8px;
}

.logo a {
  color: #000;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0px;
  text-decoration: none;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  float: left;
}

nav ul li:not(:first-child) {
  margin-left: 48px;
}

nav ul li:last-child {
  margin-right: 24px;
}

nav ul li a {
  display: inline-block;
  outline: none;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 600;
}

@media screen and (max-width: 864px) {
  .logo {
    padding: 0;
  }

  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #fff;
    opacity: 0;
    transition: all 0.2s ease;
  }

  .nav-wrapper ul {
    position: absolute;
    top: 50%;
    transform: translateY(-30%);
    transform: translateX(-10%);
    width: 100%;
  }

  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
  }

  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0.2s;
  }

  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0.3s;
  }

  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0.4s;
  }

  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0.5s;
  }

  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }

  .nav-wrapper ul li a {
    padding: 10px 24px;
    opacity: 0;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }

  .nav-btn {
    position: fixed;
    right: 10px;
    top: 10px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
  }

  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }

  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}

.hidden {
  display: none;
}
/* actual content */
#hero-image {
  width: 100%;
  padding-bottom: 10vh;
  display: flex;
  background: #dbf9ff url("../images/hero.jpg") no-repeat center;
  overflow: hidden;
  border-radius: 25px;
  height: 30vh;
}
#hero-image h2 {
  margin: 40px 0 40px 0;
  padding-left: 2vw;
  padding-right: 2vw;
}
.button-1 {
  display: block;
  text-align: center;
  background: #444;
  border-radius: 15px;
  color: #fff;
  width: 180px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  margin: 0 auto;
}
.button-1:hover {
  background-color: #02b8dd;
  color: #fff;
}
/*features */
#features ul {
  display: flex;
  overflow: hidden;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.spacer {
  padding-top: 10vh;
}
#features ul li {
  width: 300px;
  padding-top: 1vh;
  padding-left: 5vw;
  text-align: center;
}

#features ul li.feature-1 {
  background: rgb(255, 178, 165);
  padding-right: 5vw;
  height: 60vh;
  border-radius: 25px;
}
#features ul li.feature-2 {
  background: rgb(255, 178, 165);
  padding-right: 5vw;
  height: 60vh;
  border-radius: 25px;
}
.teamback {
  background-image: url("https://jayd1903.github.io/mm-github-pages-starter/assets/images/teamback.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.photo {
  padding-top: 20vh;
  background-image: url("https://jayd1903.github.io/mm-github-pages-starter/assets/images/seattle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30vh;
}
.backgroundtop {
  padding-bottom: 10vh;
}
.aboutus {
  color: aliceblue;
  font-size: xx-large;
}
@media screen and (max-width: 864px) {
  #features ul {
    flex-direction: column;
    float: left;
    padding-left: 0;
  }
  #features ul li {
    width: 60%;
    padding-top: 140px;
    padding-right: 30vw;
    text-align: center;
  }
  #features ul li.feature-1 {
    background: rgb(255, 178, 165);

    height: 52vh;
    padding-top: 4vh;
  }
  #features ul li.feature-2 {
    background: rgb(255, 178, 165);

    padding-top: 4vh;
    height: 50vh;
  }
  #spaceblock {
    padding-top: 10vh;
  }
  h4 {
    font-size: 4vw;
  }
  h2 {
    font-size: 3vw;
  }
  #hero-image {
    height: 30vh;
  }
  .photo {
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: lightblue;
  width: 100%;

  justify-content: space-around;
}
.footer-info {
  padding-top: 10px;
  background-color: lightblue;
  justify-content: center;
  align-items: center;
}
