body {
  background-color: #eee;
  color: #777;
  font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
  padding: 0 0 0 0;
}
p {
  line-height: 20px;
  margin-bottom: 20px;
}
h1 {
  font-family: "Helvetica Neue";
  font-weight: bold;
  color: #e2e2e3;
  text-align: center;
  font-size: 9vw;
  margin-bottom: 20px;
}
h2 {
  font-weight: 300;
  color: #e2e2e3;
  font-size: 7vw;
  text-transform: uppercase;
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}
h3 {
  font-size: 4vw;
  color: #e2e2e3;
  text-align: center;
  font-weight: 400;
  margin-bottom: 20px;
  padding-left: 10vw;
  padding-right: 10vw;
  
}
h4 {
  font-size: 2vw;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
}
h5 {
  font-size: 1vw;
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
}
a {
  text-decoration: underline;
  color: #5a94f2
}
a:hover {
  color: #02b8dd;
}
strong {
  font-weight: bold;
}
small {
  font-size: 13px;
  color: #777;
  font-style: italic;
}
.clear {
  clear: both;
}

.teamback {
  background-image: url("https://jayd1903.github.io/mm-github-pages-starter/assets/images/teamback.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
.photo {
  padding-top: 20vh;
  background-image: url("https://jayd1903.github.io/mm-github-pages-starter/assets/images/seattle.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 30vh;
}
.backgroundtop {
  padding-bottom: 10vh;
}
.aboutus {
  color: aliceblue;
  font-size: xx-large;
}
.masthead{
  background-color: #eee;
}
.logo {
  float: left;
  padding: 8px;

  margin-left: 16px;
  margin-top: 8px;
}
.bioblue{
  display: inline-block;
  background-color: lightblue;
}
.biogreen{
  display: inline-block;
  background-color: #c3fad2;
}

.guypicture{
  display: inline-block;
  padding-top: 10vw;
  margin-right: 20px;
  width: 100px;
  height: 250px;
  float: left;
}
.guypicture img{
  width:100%;
  height:40%;
  border-radius: 50%;
}
.guypicture p{
  text-align: center;
  font-weight: bold;
  font-color: #000;
}
.lol {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("https://jayd1903.github.io/mm-github-pages-starter/assets/images/books.jpg");
  background-size: cover;
}
.sombrero {
  padding-top: 1vh;
  padding-bottom: 10vh;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://jayd1903.github.io/mm-github-pages-starter/assets/images/micnew.jpg");
  background-size: cover;
}
.textile {
  padding-top: 1vh;
  padding-bottom: 10vh;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("https://jayd1903.github.io/mm-github-pages-starter/assets/images/cookingnew.jpg");
  background-size: cover;
}
.beets {
  background-color: #118199;
}
.spacebrick{
  padding-top: 1vh;
}
.spaceblock {
    padding-top: 10vh;
  }
.triplespaceblock{
  padding-top: 300vh:
}




.button-1 {
  display: block;
  text-align: center;
  background: rgb(230,100,0,1);
  border-radius: 15px;
  color: #fff;
  width: 180px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  margin: 0 auto;
  border: 2px solid #e66f00;
  border-radius: 10px;
  text-decoration: none;
}

.button-1:hover {
  background-color: #02b8dd;
  color: #fff;
}
