@keyframes bgcolor {
    0% {
        background-color: #fafafa
    }

    30% {
        background-color: #dce4e6
    }

    60% {
        background-color: #ebfcff
    }

    90% {
        background-color: #dfebed
    }

    100% {
        background-color: #edbded
    }
}
body {
   -webkit-animation: bgcolor 50s infinite;
    animation: bgcolor 30s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}
p {
}
h1 {

}
h2 {
 

  text-align: center;
  margin-bottom: 20px;
}
h3 {

  font-weight: bold;
  text-transform: uppercase;
  text-align: center;

}
h4 {

  text-transform: uppercase;

}
h5 {

  font-weight: bold;
  text-transform: uppercase;
}
a {
  text-decoration: underline;

}
a:hover {
  color: #02b8dd;
}
strong {
  font-weight: bold;
}
small {
  font-size: 13px;
  color: #777;
  font-style: italic;
}
.clear {
  clear: both;
}


/* actual content */
#hero-image {
  width: 100%;
  padding-bottom: 10vh;
  display: flex;
  background: #dbf9ff url("../images/hero.jpg") no-repeat center;
  overflow: hidden;
  border-radius: 25px;
  height: 30vh;
}
#hero-image h2 {
  margin: 40px 0 40px 0;
  padding-left: 2vw;
  padding-right: 2vw;
}
.button-1 {
  display: block;
  text-align: center;
  background: #ffaa33;
  border-radius: 15px;
  color: #777;
  width: 180px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  margin: 0 auto;
}
.button-1:hover {
  background-color: #02b8dd;
  color: #fff;
}
/*features */
#features ul {
  display: flex;
  overflow: hidden;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  list-style: none;
}
.spacer {
  padding-top: 10vh;
}
.masthead {
background-color: #eee
}
#features ul li {
  width: 300px;
  padding-top: 1vh;
  padding-left: 5vw;
  text-align: center;
}

#features ul li.feature-1 {
  background: rgb(255, 178, 165);
  padding-right: 5vw;
  height: 60vh;
  border-radius: 25px;
}
#features ul li.feature-2 {
  background: rgb(255, 178, 165);
  padding-right: 5vw;
  height: 60vh;
  border-radius: 25px;
}
@media screen and (max-width: 864px) {
  #features ul {
    flex-direction: column;
    float: left;
    padding-left: 0;
  }
  #features ul li {
    width: 60%;
    padding-top: 140px;
    padding-right: 30vw;
    text-align: center;
  }
  #features ul li.feature-1 {
    background: rgb(255, 178, 165);

    height: 52vh;
    padding-top: 4vh;
  }
  #features ul li.feature-2 {
    background: rgb(255, 178, 165);

    padding-top: 4vh;
    height: 50vh;
  }
  #spaceblock {
    padding-top: 10vh;
  }
  h4 {
    font-size: 4vw;
  }
  h2 {
    font-size: 3vw;
  }
  #hero-image {
    height: 30vh;
  }
}


